body{
    font-family: Cantarell;
font-size:13px;
}
.landing{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height:100vh; */

}


.btn1{
    width:130px;
    height:50px;
    border-radius:40px;
   
    background-color: #e7e8eb;
    color: #333456;
    border-color: #e7e8eb;
  }
  .navbar{
    /* z-index: 10; */
    background: transparent;
    /* background-color: #f5f5f7; */

  }
  li a{
      list-style-type: none;
      color: #333456;
  }
  .drive{
      margin-top: 100px;
      margin-left:-25px;
  }
  .drive h1{
      font-size: 50px;
      color:#333456;
  }
  .p1{
      margin-top:60px;
      color:grey;
      font-weight: 400; 
  }
  .myform{
      margin-top:90px;
      margin-left:-20px;
  }
  .btn2{
    width:130px;
    height:50px;
    border-radius:45px;
   
    background-color: #72738e;
    color: white;
    border-color: #e7e8eb;
  }
  .myinput{
      background-color: transparent;
      border-top: none;
      border-left: none;
      border-right:none;
      padding-bottom: 30px;
  }
  .myinput:focus{
      background-color: transparent;
      border-top: none;
      border-left: none;
      border-right:none;
      box-shadow: none;
      border-bottom-color: #72738e;
  }
  .first{
    border-top: 1px solid;
    width:180px;
    transform: skew(0deg, 45deg);
    color: #72738e;
  }
  .second{
    border-top: 1px solid;
    width:180px;
    transform: skew(0deg, -45deg);
    color: #72738e;
  } 
  .cross{
    
      margin-top:260px;
      padding-left:200px;
      background-color: #f5f5f7;
      height:180px;
      width:1000px;
      
  }
  .logos{
      background-color: white;
      z-index:20; 
      height: 70px;
      margin-top: 135px;
      width:100%;
  }
  .logos img{
      width:110px;
  }
  .mylogos{
      padding:10px;
      margin-left:120px;
  }
  .arrow{
    font-size: 20px;
    margin-top:150px;
    padding-left: 50px;
    
    color: #72738e;
  }

    .ex{
        width:300px;
        height:500px;
        background-color: #f5f5f7;
        margin-top:80px;
        margin-left: 25px;
    }

    .first1{
        border-top: 1px solid;
        width:110px;
        transform: skew(0deg, 45deg);
        color: #72738e;
        
      }
      .second1{
        border-top: 1px solid;
        width:110px;
        transform: skew(0deg, -45deg);
        color: #72738e;
      } 
      .cross2{
          margin-top:200px;
          position: absolute;
          margin-left:90px;
      }
      .since{
          width:420px;
          height:230px;
          background-color: #333456;
          z-index: 1;
          margin-top:-150px;
          margin-left:70px;
          color:white;
         padding:50px;
          
      }
      .line{
          border-left: 1px  white solid;
          height: 70px;
          margin-top: 43px;
          margin-left:100px;
          position: absolute;
      }
      .qfoot{
          padding-top: 30px;
      }
      .round{
          width: 28px;
          height: 28px;
          display: inline-block;
          border-radius: 50%;
          color:#aaabbb;
          padding-left:10px;
          padding-top: 3px; 
          background-color: #72738e;
          margin-right: 10px;
          font-size: 12px;
      }
      .cities{
        width: 300px; 
        display:relative;
        margin-top:200px;
      }
      .line2{
          width:40px;
          display: inline-block;
          border-top: 3px solid;
          margin-top:-5px;
          color: #f5f5f7;
          margin-left: 10px;
          margin-right: 10px;
      }
      .make{
          margin-top:-30px;
      }
      .para1{
          font-size: 9px;
          color: #72738e;
          font-weight: 700;
      }
      .better{
          width:370px;
          line-height: 30px;
      }
      .para2{
          margin-top:30px;
      }
      .better p{
          color: #72738e;
      }
      .round1{
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 50%;
        color:#aaabbb;
        padding-left:15px;
        padding-top: 3px; 
        background-color: #72738e;
        margin-right: 10px;
        font-size: 18px;
      }
      .values{
          margin-top:40px;
      }
      .int{
          margin-left:10px;
        display: inline-block;
        line-height: 10px;
        position: absolute;
        font-size: 11px;
        color:#333456;
      }
      #about{
          margin-top:40px;
      }
      .simp{
          width:200px;
          color:#333456;
          height: 100px;
          line-height: 100px;
          /* margin-left:25px; */
      }
      #works{
          margin-left:25px;
      }
      .para3{
        font-size: 9px;
        color: #72738e;
        font-weight: 700;
        margin-left: 25px;
    }
    .snow{
        margin-top:40px;
        width: 290px !important;
        line-height: 30px;
    }
    int1{
        width:500px;
    }
    .int1 p{
        margin-left:60px;
        margin-top: -33px;
    }
    .values1{
        margin-top:30px;
    }
    .round2{
        width: 70px;
        height: 70px;
        display: inline-block;
        border-radius: 50%;
        color:#aaabbb;
        padding-top: 5px; 
        background-color: #f5f5f7;
        margin-right: 10px;
        font-size: 33px;
        font-weight: lighter;
      }
      .baller{
          margin-top:120px;
          text-align:center;
          
          margin: 0 auto;
          max-width:100%;
          margin-left:80px;
      }
.first-ball{
    text-align: center;
    padding:40px 40px 40px 0;
    width:250px;
}
.image1{
    margin-top:100px;
    margin-left: -60px;
}
.second-ball{
    text-align:center;
    width:170px;
    margin-top:80px;
    margin-left:0px;
}
.image2{
    margin-top:75px;
    margin-left: -80px;
}
.third-ball{
    text-align: center;
    padding:40px 40px 40px 0px;
    width:280px;
    position: absolute;
    margin-left:-40px;
    margin-top:px;
}
.fourth-ball{
    text-align: center;
    padding:40px 40px 40px 0px;
    width:280px;
    position: absolute;
    margin-top:-80px;
    margin-left:20px;

}
.ex2{
    height:670px;
    width:340px;
    background-color: #72738e;
}
.cross3{
    margin-top:250px;;
    margin-left:100px;
}
.ex2{
    margin-top:150px;
    position: absolute;
    z-index: 1;
}
.first2{
    border-top: 1px solid;
    width:110px;
    transform: skew(0deg, 45deg);
    color: #b8b9c6;
    
  }
  .second2{
    border-top: 1px solid;
    width:110px;
    transform: skew(0deg, -45deg);
    color: #b8b9c6;
    
  } 
  .zone{
      height:670px;
      width:720px;
      background-color:#333456;
      margin-top:200px;
      margin-left:240px;
      position: absolute;
  }
  #service{
      margin: 0 auto;
  }
  .para4{
    font-size: 19px;
    color: #b8b9c6;
    font-weight: 700;
}
.line3{
    width:45px;
    display: inline-block;
    border-top: 2px solid;
    margin-top:-5px;
    color: #f5f5f7;
    margin-left: 10px;
    margin-right: 10px;
}
.service{
    text-align: center;
    margin-left:-150px;
    margin-top: 120px;
    
}
.service h2{
    margin-left:170px;
}
.service p{
    margin-left:193px;
    font-size:16px;
    color:#c2c2cc;

}
.fa-check{
    margin-left:390px;
    color:#ffff;
}
.daily h5{
    margin-left:20px;
    margin-top:-5px;
    color:#ffff;
}
.daily p{
    width:320px;
    margin-left:425px;
    margin-top:30px;
    position: absolute;
    text-align: justify;
    font-size:16px;
}
.self h5{
    margin-left:20px;
    margin-top:-5px;
    color:#ffff;
}
.self p{
    width:320px;
    margin-left:425px;
    margin-top:30px;
    position: absolute;
    text-align: justify;
    font-size:16px;
}
.self{
    margin-top:100px;
}
.liner{
    width:365px;
    margin-top: 160px;
    background-color:#5b5c77;
    margin-left:365px;
}
.out{
    margin-left:500px;
    margin-top: 750px;
    z-index: 3;
}
.round4{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    color:#aaabbb;
    padding-left:20px;
    padding-top: 10px; 
    background-color: #72738e;
    margin-right: 10px;
    font-size: 18px;
  }
  .less{
      text-align: center;
  }
  #pricing{
      margin-top: 200px;
      text-align: center;
  }
  .card{
      height:500px;
      width:270px;
  }

.btn3{
  width:200px;
  height:60px;
  border-radius:45px;
  font-size: 14px;
 
  background-color: #72738e;
  color: white;
  border-color: #e7e8eb;
}
.card{
    font-size: 13px;
    margin-top:50px;
}
.hd{
    background-color: transparent;
    border-bottom: none;
    padding:40px 0 0 0 ;
}
.card-header h3{
    font-weight: 600;
    color: #333456;
}
.card-header h6{
    color: #72738e;
}
.card-body hr{
        margin-top:40px;
        margin-bottom: 50px;
    }
    .card-body h2{
        color:#72738e;
    }
    .card-body p{
        color:#72738e;
    }
    .card-body button{
        margin-top:23px;
    }
.det{
    margin-top:25px;
}
.recommended{
    border:none;
    border-top: 2px solid #333456;
    /* box-shadow: 0.5px 0.5px 0.5px 0.5px #888888; */
}
#car{
    margin-top:300px;
}
.exp{
    width:310px;
    
}
.exp p{
    color:#72738e
}
.exp h3{
    color:#333456;
    position: relative;
}
.ex3{
    height:360px;
    width:360px;
    background-color: #72738e;
    margin-top:-200px;
    position: relative;
}
.first3{
    border-top: 1px solid;
    width:100px;
    transform: skew(0deg, 45deg);
    color: #b8b9c6;
    
  }
  .second3{
    border-top: 1px solid;
    width:100px;
    transform: skew(0deg, -45deg);
    color: #b8b9c6;
    
  } 
  .cross4{
    margin-top:180px;;
    margin-left:130px;
    position: absolute;
}

.ex4{
    height:250px;
    width:200px;
    background-color: #72738e;
    margin-top: 30px;
    
}
.first4{
    border-top: 1px solid;
    width:80px;
    transform: skew(0deg, 45deg);
    color: #b8b9c6;
    
  }
  .second4{
    border-top: 1px solid;
    width:80px;
    transform: skew(0deg, -45deg);
    color: #b8b9c6;
    
  } 
  .cross5{
    margin-top:120px;;
    margin-left:60px;
    position: absolute;
}
.ex5{
    height:200px;
    width:250px;
    background-color: #72738e;
    margin-top: 30px;
    
}
.first5{
    border-top: 1px solid;
    width:80px;
    transform: skew(0deg, 45deg);
    color: #b8b9c6;
    
  }
  .second5{
    border-top: 1px solid;
    width:80px;
    transform: skew(0deg, -45deg);
    color: #b8b9c6;
    
  } 
  .cross6{
    margin-top:90px;;
    margin-left:80px;
    position: absolute;
}
.join{
  width:390px;  
  color: #333456;
  font-weight: 700;
}
#contact{
    margin-top:140px;
}
.btn4{
    width:270px;
    height:50px;
    border-radius:45px;
    font-size: 14px;
   
    background-color: #72738e;
    color: white;
    border-color: #e7e8eb;
    margin-top: 20px;
  }
  #footer{
      margin-top:50px;
      font-size: 12px;
  }
  .for{
      width:600px;
      font-size: 12px;
      border:none;
      position:relative;
  }

#inp{
    border-radius: 45px;
    width: 300px;
    height:48px;
    background-color: #e7e8eb;
    font-size: 12px;
    border:none;
}
.far{
    padding-top: 5px;
}
.fat{
    color:white;
    margin-left:-70px;
    height:30px;
    width:30px;
    background-color:#72738e;
    border-radius: 50%;
    padding-left: 7px;
}
footer{
    line-height: 43px;
}
footer ul li{
    list-style-type: none;
    margin-left:-40px;
    color:#333456;
}
footer p{
    color:#72738e;
}
.soc{
    color:#72738e;;
    height:35px;
    width:35px;
    background-color:#e7e8eb;
    border-radius: 50%;
    padding-left: 15px;
    display: inline-block;
    margin:10px;
    
}
.socials{
    margin-top:28px;
    margin-left:110px;
}